.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  grid-column: 2;
  margin: 0;
  padding: 0;
  line-height: 29.34px;
  padding-bottom: 27px;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {
    line-height: 26.08px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__paragraph {
    padding-bottom: 25px;
  }

  .places__paragraph:last-of-type {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    margin: 0 16px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 26.08px;
  }
}
