.footer__link-lists {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__link-lists {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__link-lists {
    flex-direction: column;
  }
}
