.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin-bottom: 48px;
  margin-top: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .places__title {
    font-size: 36px;
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    line-height: 35px;
    font-size: 32px;
    width: 90%;
    margin-bottom: 32px;
    margin: 0 auto;
  }
}
