.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1184px;
  align-items: baseline;
  padding-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
    padding-top: 88px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    width: 90%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    width: 90%;
    margin-bottom: 0;
  }
}
